.audience {
  min-width: 320px;
  padding: 50px 15px;
  background-color: rgba(0, 161, 198, 7%);
  display: flex;
  flex-direction: column;
  align-items: center;

  @include large-screen {
    height: 983px;
    width: 100%;
    padding: 108px 131px 110px 130px;
    margin: auto;
  }
  &__name {
    font-weight: 700;
    font-size: 22px;
    line-height: 34px;
    text-align: center;

    @include large-screen {
      width: 186px;
    }
  }
  &__item {
    min-width: 290px;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.36px;
    text-align: center;
    margin-top: 17px;
    @include large-screen {
      width: 555px;
      height: 112px;
      font-size: 56px;
      line-height: 56px;
      letter-spacing: -0.5px;
      margin-top: 24px;
    }
  }
  &__deskription {
    min-width: 290px;
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    margin-top: 18px;
    @include large-screen {
      width: 555px;
      height: 72px;
      margin-top: 30px;
    }
  }

  &__button {
    width: 100%;
    margin-top: 30px;
    @include large-screen {
      display: flex;
      width: 328px;
      height: 48px;
      margin-top: 34px;
    }
  }
}

.button-blue_audience {
  width: 100%;
  @include large-screen {
    .button-blue_audience {
      width: 160px;
    }
  }
}
.button-white_black {
  color: $text-color-black;
  margin-top: 12px;
  width: 100%;

  @include large-screen {
    margin-top: 0;
    width: 158px;
    margin-left: 10px;
  }
}

.audience__gallery {
  margin-top: 40px;

  @include large-screen {
    display: flex;
    justify-content: space-between;
    width: 1139px;
    height: 300px;
    margin-top: 111px;
  }
}
.user-card {
  width: 290px;
  height: 300px;
  background-color: $color-white;
  margin: 0;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-5) 100%),
    #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05),
    inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  &:first-of-type {
    margin-top: 0;
  }

  @include large-screen {
    width: 262px;
    height: 300px;
    margin-top: 0;
    &:hover {
      background-color: $color-blue-nice;
      box-shadow: 0px 13px 18px rgba(0, 0, 0, 0.15), 0px 11px 55px rgba(0, 0, 0, 0.07);
      color: $color-white;
      cursor: pointer;
    }
  }
  &__img {
    max-width: 100%;
    max-height: 195px;
    margin: auto;
  }

  &__title {
    text-align: center;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 33px;
  }
}
