.hiring {
  padding: 50px 15px;
  display: flex;
  flex-direction: column;
  @include large-screen {
    width: 750px;
    height: 623px;
    margin: auto;
    margin-top: 106px;
    padding: 0;
    align-items: center;
  }
  &__item {
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    letter-spacing: -0.357143px;
    @include large-screen {
      width: 555px;
      font-size: 56px;
      line-height: 56px;
      letter-spacing: -0.5px;
    }
  }
  &__discription {
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    margin-top: 18px;
    margin-bottom: 30px;
    @include large-screen {
      width: 555px;
    }
  }
}
.hirring-button {
  min-width: 247px;
}
.job {
  margin-top: 39px;

  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include large-screen {
    width: 750px;
    height: 283px;
  }
}
.vacancy {
  min-width: 290px;
  height: 140px;
  border: 1px solid rgba(43, 41, 45, 0.2);
  border-radius: 8px;
  display: flex;

  @include large-screen {
    height: 81px;
    &:hover {
      background-color: $color-blue-nice;
      cursor: pointer;

      .vacancy__item {
        color: $color-white;
      }
      .vacancy__info {
        color: $color-white;
        opacity: 1;
      }
      .vacancy__arrow {
        background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-arrow-right-white.png);
      }
      .vacancy__arrow-block {
        background-color: transparent;
      }
    }
  }

  .vacancy-border {
    padding: 19px 20px;
    min-width: 240px;
    height: 140px;
    flex-grow: 1;
    @include large-screen {
      height: 81px;
      display: flex;
      align-items: center;
    }
  }

  &__item {
    min-width: 199px;
    height: 69px;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    @include large-screen {
      width: 408px;
      height: 29px;
      margin-left: 25px;
    }
  }
  &__info {
    height: 26px;
    font-size: 16px;
    line-height: 22px;
    opacity: 0.6;
    margin-top: 7px;
    @include large-screen {
      width: 232px;
      height: 26px;
      margin-top: 0;
      font-size: 18px;
      line-height: 24px;
      margin-left: 20px;
    }
  }
  &__arrow-block {
    display: flex;
    width: 50px;
    height: 138px;
    background-color: $color-grey;
    border-radius: 0 6px 6px 0;
    @include large-screen {
      background-color: $color-white;
      height: 77px;
    }
  }
  &__arrow {
    width: 7px;
    height: 12px;
    background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-arrow-right.png);
    margin: auto;
  }
}
