$text-color-main: #2b292d;
$text-color-orange: #f1592b;
$text-color-black: #000000;
$text-color-blue: #0189d1;
$text-color-green: #009b4d;

$color-white-light: #f2f2f2;
$color-light: #f4f5f7;
$color-white: #ffffff;
$color-blue-light: #0185d0;
$color-blue-dark: #3141c5;
$color-blue: #3142c6;
$color-blue-button: #3040c4;
$color-blue-nice: #3142c5;
$color-pink-light: #e3e3e3;
$color-pink: #f3c6bd;
$color-grafit: #2c3241;
$color-grey: #d5d4d5;
